nav {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.9);
}

.navigation {
  display: flex;
  justify-content: rigth;
  gap: 20px;
  list-style-type: none;
  margin-top: 0;
  li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
