nav {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 em(8) em(2) rgba(0, 0, 0, 0.9);
}

.navigation {
  display: flex;
  justify-content: right;
  gap: em(20);
  list-style-type: none;
  margin-top: 0;
  li {
    margin-top: em(20);
    margin-bottom: em(20);
  }
}
